/* You can add global styles to this file, and also import other style files */
body {
  background-image: url(./assets/bg2.png);
}
.cart-item {
  font-size: small;
}

.filters {
  font-size: small;
}

.product-btn {
  font-size: smaller;
}

.fa-heart {
  color: palevioletred;
  cursor: pointer;
}

.guest-form-card h3 {
  text-transform: uppercase;
  font-size: medium;
}

.guest-form-card label {
  font-size: small;
}

.btn-primary.disabled,
.btn-primary:disabled {
  cursor: not-allowed;
}
